<h1>List Of Customers</h1>


<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birth Date</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.birthDay | date | uppercase}}</td>
        </tr>
    </tbody>
</table>
</div>
